* {
    background-color: rgb(31, 75, 137);
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

body {
    padding: 1vh 1vw;
}

 header, main, footer {
    border: dotted yellow 0.5px; 
}

.container {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;


}


H1 {
    color: rgb(126, 235, 235);
    display: block;

}


.card {
    flex: 0 0 100%;

}


figure, figcaption, pre { 
    border-style: dashed;

}

@media screen and (min-width: 768px) {
    .card {
        flex: 0 0 50%;
    }

}
@media screen and (min-width: 996px) {
    .card {
        flex: 0 0 33%;
    }
}








