* {
    background-color: rgb(31, 75, 137);
    font-family: sans-serif;
}

body {
    padding: 1 vh 1vw;
}

header, main, footer {
    border: dotted blue 0.5px;
}

.container {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

}



H1 {
    color: rgb(126, 235, 235);
    display: block;

}

li {
    border-style: dashed;
    margin: 5%;
    text-decoration: none;
    
}
figure, figcaption, pre {


}






