* {
    background-color: rgb(31, 75, 137);
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

body {
    padding: 1vh 1vw;
}

 header, main, footer {
    border: dotted yellow 0.5px; 
}

.container {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;


}


H1 {
    color: rgb(126, 235, 235);
    display: block;

}


.card {
    flex: 0 0 100%;
    padding: 1lh;

}

figure {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

figcaption {
    position: absolute;
    top: -1lh;
    min-width: 75%;
    margin-left: 10%;
    margin-right: 10%;    

}

figure > * {
    padding: 0.5lh;
    
}

figure > p {
    padding-top:1.5lh;
}

figure, figcaption, pre { 
    border-style: dashed;

}

@media screen and (min-width: 768px) {
    .card {
        flex: 0 0 50%;
    }

}
@media screen and (min-width: 996px) {
    .card {
        flex: 0 0 33%;
    }
}








